*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: trebuchet ms;
}

.back-svg{
    height: 393px; 
    display: block;    
    width: 50%;
    position: fixed;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
}

.transition{
    transition: .2s;
}

.linked-svg{
    fill: black;
    height: 1393px;
}


.linked-svg:hover{
    fill: #2e2e2e;
}

svg .linked-svg:hover .arrow-back {
    fill: white;
}

.arrow-down-svg{
    height: 45px;
    right: 28%;
    bottom: 8%;
    position: fixed;
    z-index: 15;
    transition: 0.2s;
}

.arrow-back {
    right: 200px;
}

#arrow-down:hover{
    fill: #2e2e2e;
    cursor: pointer;
}


#topGradient{
    background-image: linear-gradient(white, transparent);
    width: 100%;
    height: 150px;
    margin-left: 784px;
    position: fixed;
    margin-top: 10px;;
    z-index: 9;
}

#topWhiteBG{
    width: 100%;
    height: 10px;
    margin-left: 784px;
    background:white;
    position: fixed;
    z-index: 9;
}

#bottomGradient{
    background-image: linear-gradient(transparent, white);
    bottom: 0px;
    width: 100%;
    height: 150px;
    margin-left: 784px;
    position: fixed;
    margin-top: 10px;;
    z-index: 9;
}

#bottomWhiteBG{
    width: 100%;
    height: 10px;
    bottom: 0px;
    margin-left: 784px;
    background: white;
    position: fixed;
    z-index: 9;
}

p{
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    left: 250px;
    top: 50px;
}

#whiteBG{
    width: 780px;
    height: 100%;
    background:white;
    position: fixed;
    z-index: -1;
}

#line{
    width: 8px;
    height: 80%;
    background: black;
    position:fixed;
    left: 776px;
    top: 10%;
}

.leftContent{
    text-align: right;
    position: fixed;
    right: 62%;
    top: 390px;
    max-width: 600px;
    transition: .5s;

}

#leftText{
    margin-top: 10px;
    font-size: 22px;
    line-height: 25px;
    text-overflow: ellipsis;
    max-height: 175px;
    overflow: hidden;
    white-space:;
}

#leftGradient{
    background-image: linear-gradient(transparent, white);
    width: 600px;
    height: 100px;
    position: fixed;
    margin-top: -100px;
}

#leftButton{
    background-color: white;
    border-style: solid;
    border-color: #525252;
    font-family: trebuchet ms;
    font-size: 23px;
    color: #525252;
    padding: 10px;
    display: inline-block;
    transition: 0.2s;
    margin-top: 10px;
    border-radius: 5px;

}

#leftButton:hover{
    cursor:pointer;
    background-color: #e3e3e3;
}


#rightContent{
    display: flex;
    align-content: center;
    margin-left: 840px;
    flex-direction: column;

}

.rightFlex{
    background-color: white;
    height: 1000px;
    display: flex;
    align-content: center;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 95%;
}

#rightImage{
    display:inline-block;
    align-self: center;
    max-height: 50%;
    margin-right: 10px;
    object-fit: contain;
}


.scrollHidden
{
    opacity: 0;
    margin-top: 400px;
    transition-timing-function: ease-out;
}


.scrollShown
{
    opacity: 1;
}
